{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
                <legend class="border-bottom mb-4">Reset Password</legend>
                <div class="mb-3">
                    {{ form.email.label }}
                    {% if form.email.errors %}
                        {{ form.email(class="form-control is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.email.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.email(class="form-control") }}
                    {% endif %}
                </div>
                {{ form.submit(class="btn btn-outline-info") }}
        </form>
    </div>
{% endblock content %}